.bg--safron {
    background-color: $safron;
}

.bg--mojo {
    background-color: $mojo;
}

.bg--fedora {
    background-color: $fedora;
}


.bg--cameo {
    background-color: $cameo;
}

.bg--transparent {
    background-color: $transparent;
}

.col--white {
    color: $white;
}

.section {
    padding: $lg;
    width: $l-80;
    margin: 0 $auto;
}