@import 'main-styles';

.card {
    width: 100%;
    height: 100%;
    padding: $sm;
    border: $o-1 solid $black;

    &--img {
        width: 260px;
        height: 350px;
        border: $o-1 solid $black;
    }

    &-title--color {
        color: $fedora;
    }
}