@import 'main-styles';

.navbar {
    padding: 0;
    position: relative;
    box-shadow: 0 0 $sm rgba($black, $t-40);
}

.brand-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-item {
    &:not(:last-child) {
        margin-right: $sm;
    }
}

.nav-link {
    color: $black;

    &:hover {
        color: $black;
    }

    &--tall {
        padding-top: $md-2;
        padding-bottom: $md-2;
    }

    &--underline {

        border-bottom: $o-2 solid $transparent;
    
        &:hover {
            border-bottom: $o-2 solid $black;
        }
    }

}
