<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-md">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="/clothes/1" class="nav-link nav-link--tall nav-link--underline">
            Men
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/clothes/2" class="nav-link nav-link--tall nav-link--underline" >
            Women
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/clothes/3" class="nav-link nav-link--tall nav-link--underline" >
            Accessories
          </a>
        </li>
      </ul>
      <div class="brand-container">
        <a href="#" class="badge badge--md badge--outline">
          <h1>NG Clothes</h1>
        </a>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a routerLink="/auth/login" class="nav-link nav-link--tall nav-link--underline">Login</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a routerLink="/auth/register" class="nav-link nav-link--tall nav-link--underline">Register</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a  (click)="logout()" class="nav-link nav-link--tall nav-link--underline">Logout</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a routerLink="/cart" class="nav-link nav-link--tall nav-link--underline" (click)="addCartItems()"><fa-icon [icon]="cartIcon"></fa-icon></a>
        </li>
        <!-- <li class="nav-item">
          <a href="" class="nav-link nav-link--tall nav-link--underline"><fa-icon [icon]="userIcon"></fa-icon></a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link nav-link--tall nav-link--underline"><fa-icon [icon]="cartIcon"></fa-icon></a>
        </li> -->
      </ul>
    </div>
  </nav>
</header>
