@import 'main-styles';

.navbar {
    padding: 0;
    position: relative;
    box-shadow: 0 0 $sm rgba($black, $t-40);
}

.brand-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-item {
    &:not(:last-child) {
        margin-right: $sm;
    }
}

.nav-link {
    padding-top: $md-2;
    padding-bottom: $md-2;
    color: $black;

    &:hover {
        color: $black;
    }
}

.underlined-links-nav {
    .nav-link {
        border-bottom: $o-2 solid $none;
    
        &:hover {
            border-bottom: $o-2 solid $black;
        }
    }
}

