<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-md">
      <ul class="navbar-nav underlined-links-nav">
        <li class="nav-item">
          <a href="" class="nav-link">
            Mens
          </a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">
            Womens
          </a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">
            Accessories
          </a>
        </li>
      </ul>
      <div class="brand-container">
        <a href="#" class="badge badge--md badge--outline">
          <h1>NG Clothes</h1>
        </a>
      </div>
    </div>
  </nav>
</header>
