<div class="container register">
  <div class="row">
    <div class="col-6">
      <h1 class="register--header">Register a new account</h1>
      <form
        [formGroup]="registerForm"
        class="register--form"
        (ngSubmit)="onSubmit()"
      >
        <div class="form-group">
          <label for="name">Name</label>
          <input
            class="inp"
            type="text"
            name="name"
            id="name"
            formControlName="name"
            [ngClass]="{
              'inp--error':
                registerForm.controls.name.invalid &&
                (formHasError || registerForm.controls.name.dirty)
            }"
          />
          <div
            class="error"
            *ngIf="
              registerForm.controls.name.invalid &&
              (formHasError || registerForm.controls.name.dirty)
            "
          >
            <p
              *ngIf="
                registerForm.controls.name.errors.required &&
                (formHasError || registerForm.controls.name.dirty)
              "
            >
              Name is required
            </p>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            class="inp"
            type="email"
            name="email"
            id="email"
            formControlName="email"
            [ngClass]="{
              'inp--error':
                registerForm.controls.email.invalid &&
                (formHasError || registerForm.controls.email.dirty)
            }"
          />
          <div
            class="error"
            *ngIf="
              registerForm.controls.email.invalid &&
              (formHasError || registerForm.controls.email.dirty)
            "
          >
            <p
              *ngIf="
                registerForm.controls.email.errors.required &&
                (formHasError || registerForm.controls.email.dirty)
              "
            >
              Email is required
            </p>
            <p
              *ngIf="
                registerForm.controls.email.errors.email &&
                (formHasError || registerForm.controls.email.dirty)
              "
            >
              Enter a valid Email
            </p>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            class="inp"
            type="password"
            name="password"
            id="password"
            formControlName="password"
            [ngClass]="{
              'inp--error':
                registerForm.controls.password.invalid &&
                (formHasError || registerForm.controls.password.dirty)
            }"
          />
          <div
            class="error"
            *ngIf="
              registerForm.controls.password.invalid &&
              (formHasError || registerForm.controls.password.dirty)
            "
          >
            <p
              *ngIf="
                registerForm.controls.password.errors.required &&
                (formHasError || registerForm.controls.password.dirty)
              "
            >
              Password is required
            </p>
            <p
              *ngIf="
                registerForm.controls.password.errors.minlength &&
                (formHasError || registerForm.controls.password.dirty)
              "
            >
              Minimum password length is
              {{
                registerForm.controls.password.errors.minlength.requiredLength
              }}
            </p>
          </div>
        </div>
        <div class="form-group">
            <label for="confPassword">Confirm Password</label>
            <input
              class="inp"
              type="password"
              name="confPassword"
              id="confPassword"
              formControlName="confPassword"
              [ngClass]="{
                'inp--error':
                  registerForm.controls.confPassword.invalid &&
                  (formHasError || registerForm.controls.confPassword.dirty)
              }"
            />
            <div
              class="error"
              *ngIf="
                registerForm.controls.confPassword.invalid &&
                (formHasError || registerForm.controls.confPassword.dirty)
              "
            >
              <p
                *ngIf="
                  registerForm.controls.confPassword.errors.required &&
                  (formHasError || registerForm.controls.confPassword.dirty)
                "
              >
                Confirm Password is required
              </p>
              <p
                *ngIf="
                  registerForm.controls.confPassword.errors.minlength &&
                  (formHasError || registerForm.controls.confPassword.dirty)
                "
              >
                Minimum password length is
                {{
                  registerForm.controls.confPassword.errors.minlength.requiredLength
                }}
              </p>
              <p
                *ngIf="
                  registerForm.controls.confPassword.errors.mismatch &&
                  (formHasError || registerForm.controls.confPassword.dirty)
                "
              >
                Password Mismatch
              </p>
            </div>
          </div>
        <button class="btn btn--md" type="submit">Sign UP</button>
      </form>
    </div>
  </div>
</div>
