/* You can add global styles to this file, and also import other style files */
@import 'main-styles';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-karla;
    font-size: $font-default;
}

html {
    font-size: 62.5%;
}
